{% extends "base.html" %} {% block content %}
<!-- Para documentos/trabajos en excel-->
<div class="card shadow mb-4 p-4 mx-auto" style="max-width: 600px">
  <h4 class="mb-3 text-center">Subir Archivo Excel</h4>

  <form action="/procesar" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Seleccione el archivo Excel:</label>
      <input
        type="file"
        name="archivo"
        class="form-control"
        accept=".xlsx"
        required
      />
    </div>

    <button class="btn btn-outline-success w-100 mt-3">
      Procesar Evaluación
    </button>
  </form>
</div>

<!-- Para documentos/trabajos en PDF-->
<div class="card shadow mb-4 p-4 mx-auto" style="max-width: 600px">
  <h4 class="mb-3 text-center">Subir Archivo PDF</h4>
  <h6>Califica las actividades en formato PDF</h6>

  <form action="/procesar" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Seleccione el archivo PDF:</label>
      <input
        type="file"
        name="archivo"
        class="form-control"
        accept=".pdf"
        required
      />
    </div>

    <button class="btn btn-outline-success w-100 mt-3">
      Procesar Evaluación
    </button>
  </form>
</div>

<!-- Para documentos/trabajos en WORD-->
<div class="card shadow mb-4 p-4 mx-auto" style="max-width: 600px">
  <h4 class="mb-3 text-center">Subir Archivo WORD</h4>

  <form action="/procesar" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Seleccione el archivo WORD:</label>
      <input
        type="file"
        name="archivo"
        class="form-control"
        accept=".doc,.docx"
        required
      />
    </div>

    <button class="btn btn-outline-success w-100 mt-3">
      Procesar Evaluación
    </button>
  </form>
</div>

{% endblock %}
