{% extends "base.html" %} {% block title %}Resultado de la Evaluación{% endblock
%} {% block content %}

<div class="card p-4 shadow-sm">
  <h3 class="mb-3">Resultados de la Evaluación</h3>

  {% if error %}
  <div class="alert alert-danger">Hubo un error procesando el archivo.</div>

  <a href="/" class="btn btn-secondary">Volver</a>

  {% else %}

  <p><b>Archivos evaluados:</b> {{ total }}</p>
  <p><b>Promedio final:</b> {{ promedio }}</p>

  <div class="mt-4">
    <a href="/descargar/{{ archivo_generado }}" class="btn btn-success">
      Descargar archivo generado
    </a>

    <a href="/" class="btn btn-secondary ms-2"> Nuevo análisis </a>
  </div>

  {% endif %}
</div>

{% endblock %}
